$darkBlue: #002E45;
$lightBlue: #006192;

$brownBeige: #B07156;
$lightBrownBeige: #BD8872;

$electicYellow: #D1D646;
$lightElectricYellow: #DADD66;

$backgroundColor: #dfdfdf;
$lightBackgroundColor: #F0F4F2;

$skyBlue: #57C4E5;
$lightSkyBlue: #d0f0fa;

$mainFont: 'Montserrat', sans-serif;
$mainFontColor: #979c9d;
$base: 1.3rem;
